@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🔥 FIX BLUR ISSUE */
html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: white;
  color: black;
}

/* 🔥 image clear */
img {
  image-rendering: auto;
  max-width: 100%;
  height: auto;
}

body {
  background: white;
  color: black;
  font-family: Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}